@model IEnumerable<EProject.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary"><i class="fa-solid fa-book"></i>Add Category</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
      <div class="btn-group" role="group" aria-label="Action buttons">
                        <a asp-action="Edit" asp-route-id="@item.CId" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-action="Details" asp-route-id="@item.CId" class="btn btn-success"><i class="fa-solid fa-circle-info"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.CId" class="btn btn-danger"> <i class="fa-solid fa-trash"></i></a>
                    </div>
            </td>
        </tr>
}
    </tbody>
</table>
